<div class="service-unavailable">
  <div class="error-card">
    <div class="icon-wrapper">
      <ng-icon name="heroExclamationTriangle" size="56"></ng-icon>
    </div>
    
    <h2>Serviço Temporariamente Indisponível</h2>
    
    <p class="message">{{ message }}</p>
    
    <p class="sub-message">Agradecemos pela compreensão.</p>
    
    <button class="btn-retry" (click)="onRetry()">
      <ng-icon name="heroArrowPath" size="20"></ng-icon>
      Tentar Novamente
    </button>
  </div>
</div>
