<div class="container">
  <div class="card">
    <div class="header">
      <h1>
        <ng-icon name="heroKey" size="28"></ng-icon>
        Recuperar Senha
      </h1>
      <p>Digite seu e-mail para receber o link de recuperação</p>
    </div>

    <div class="error-alert" *ngIf="errorMessage">
      <ng-icon name="heroExclamationCircle" size="20"></ng-icon>
      {{ errorMessage }}
    </div>

    <div class="success-alert" *ngIf="successMessage">
      <ng-icon name="heroCheckCircle" size="20"></ng-icon>
      {{ successMessage }}
    </div>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" *ngIf="!successMessage">
      <div class="form-group">
        <label for="email">
          <ng-icon name="heroEnvelope" size="18"></ng-icon>
          E-mail
        </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="seu@email.com"
          [class.error]="email?.invalid && email?.touched"
        />
        <div class="error-message" *ngIf="email?.invalid && email?.touched">
          <ng-icon name="heroExclamationCircle" size="16"></ng-icon>
          <span *ngIf="email?.errors?.['required']">E-mail é obrigatório</span>
          <span *ngIf="email?.errors?.['email']">E-mail inválido</span>
        </div>
      </div>

      <button
        type="submit"
        class="btn-primary"
        [disabled]="forgotForm.invalid || isLoading"
      >
        <ng-icon *ngIf="isLoading" name="heroArrowPath" size="18" class="spin"></ng-icon>
        <ng-icon *ngIf="!isLoading" name="heroCheckCircle" size="18"></ng-icon>
        {{ isLoading ? 'Enviando...' : 'Enviar Link de Recuperação' }}
      </button>
    </form>

    <div class="footer">
      <a routerLink="/login">
        <ng-icon name="heroArrowLeft" size="16"></ng-icon>
        Voltar para o login
      </a>
    </div>
  </div>
</div>
